@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: theme(colors.slate.950);
  }

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply scroll-smooth;
  }

  body {
    --grid-size: 50px;
    --grid-strength: 0.5;
    --grid-color: theme(colors.slate.800);
    background-image: linear-gradient(
        to right,
        var(--grid-color) calc(var(--grid-strength) * 1px),
        transparent calc(var(--grid-strength) * 1px)
      ),
      linear-gradient(
        to bottom,
        var(--grid-color) calc(var(--grid-strength) * 1px),
        transparent calc(var(--grid-strength) * 1px)
      );
    background-size: var(--grid-size) var(--grid-size);

    min-height: 100vh;
  }
}

@layer utilities {
  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
  .animation-blob {
    animation: blob 7s infinite;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-700/50 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}
